<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
      <ecoexpress>
          <settings>
              <api_token>a</api_token>
          </settings>
      </ecoexpress>
    </default>
</config>
